body {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 25px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 2em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  font-size: 1em;

}

li {
  float: right;
  padding: 30px;
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
  font-size: 1em;
}

.title{
  font-size: 2em;
  font-weight: bold;
  line-height: 150%;
}

.subheading{
  font-size: 1.5em;
  line-height: 125%;
}

.author{
  font-size: 1.25em;
  font-style: italic;
  line-height: 125%;
}

.story-text{
  font-size: 100%;
  line-height: 1.5em;
  margin-top: 2em;
}

figcaption {
  font-size: .5em;
}
